<!DOCTYPE html>
<html>
    <head>
        <title><%= TituloPagina %></title>
        <% include ../partial/head %>
    </head>
    <body>
        <div class="container">
            <header>
                <% include ../partial/header %>
            </header>
            <main>
                <% include ../content/rol/rol_listarContent %>
            </main>
            <footer>
                <% include ../partial/footer %>
            </footer>
        </div>
    </body>
</html>