<p class="text-center"><br>
    Ingeniero Eduardo Domínguez 920 – Maipú. <br>
    Fono mesa central: (2) 28107610 – (2) 28107611 <br>
    <b>Versión 1.0</b>
</p>
<p class="pull-left">© Copyright 2017 Alicante. All rights reserved.</p>
<div class="pull-right">
    <ul class="list-inline">
        <li><a href="/ayuda">Ayuda</a></li>
        <li><a href="/contacto">Contacto</a></li>
        <li><a href="/preguntas">FAQ</a></li>
        <li><a href="/terminos">Terms</a></li>
    </ul>
</div>